### Maven ###
target/
*.log

### IDE Files ###
.idea/
*.iml
*.ipr
*.iws
.vscode/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### OS Files ###
.DS_Store
Thumbs.db

### Optional: ignore local secret config ###
# application-local.properties
# application-secret.properties
